/data

/data-collection/__pycache__
/data-collection/apicache-py3
/data-collection/throttle.ctrl
/data-collection/test.py

/data-collection/common-crawl/filtered
/data-collection/common-crawl/tmp

/filtered
/tmp

/sentence-processing
/data-collection/common-crawl/__pycache__


*.env
!sample.env